<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4>Pages</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="contact.html">Contact us</a></li>
        </ul>
        <hr>
        <h4>User section</h4>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="./login/login.html">Register</a></li>
        </ul>

        <!--____hide content from medium not small__-->
        <hr class="hidden-md hidden-lg hidden-sm">
      </div>
      
      <!--____________ col-md-3 ________________-->
      <div class="col-md-3 col-sm-6">
        <h4>Top Movies</h4>
        <h5>YEAR</h5>
        <ul>
          <li><a href="#">Action</a></li>
          <li><a href="#">Adventure</a></li>
          <li><a href="#">Comedy</a></li>
        </ul>
        <h5>Categories</h5>
        <ul>
          <li><a href="#">Crime</a></li>
          <li><a href="#">Drama</a></li>
          <li><a href="#">Fantasy</a></li>
          <li><a href="#">Comedy</a></li>
        </ul>
        <hr class="hidden-md hidden-lg">
      </div>
      
      <!-- ____________col-md-3 _______________-->
      <div class="col-md-3 col-sm-6">
        <h4>Where to find us</h4>
        <p><strong>kls Ltd.</strong>
          <br>G 7A
          <br>Noida sec 63
          <br>Uttarpradesh
          <br>201301
          <br>
          <strong>Great INDIAN</strong>
        </p>
        <a href="contact.html">Go to contact page</a>
        <hr class="hidden-md hidden-lg">
      </div>
      
      <!--_______________col-md-3 _____________-->
      <div class="col-md-3 col-sm-6">
        <h4>Get the news</h4>
        <p class="text-muted">A great site to see your favourite movies.</p>
        <form>
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">SUBMIT</button>
            </span>
          </div>
          <!-- _________input-group clos________ -->
        </form>
        <hr>
        <!-- __________social icons__________-->
        <h4>Stay in touch</h4>
        <i class="fa fa-facebook fa-2x"></i>
        <i class="fa fa-twitter fa-2x"></i>
        <i class="fa fa-youtube fa-2x"></i>
        <i class="fa fa-instagram fa-2x"></i>
      </div>
      <!-- _______col-md-3 ____________-->
    </div>
    <!--_________row ends here______-->
  </div>
  <!-- ___container Ends here____ -->
</div>
<!-- _____*** FOOTER END ***_______ -->

