 #myFooter{
  border: 5px solid black;
  background-color:#bbe7f7;
}

/*css for footer body*/
#footer {
  background-color: #111111;
  padding: 20px 0;
  margin-bottom: 0px;
  margin-top: 3px;
}

/*css for ul in footer*/
#footer ul {
  padding-left: 0;
  list-style: none;
}

/*css for links in footer*/
#footer ul a {
  color: white;
}

/*css for social icons*/
#footer .social {
  text-align: left;
}
