<app-movie-search (success)="setMovieList($event)"></app-movie-search>
<h5 align="right">Added Favourite Movies: {{favMovies.length}}</h5>
<app-movie-list [movies]="movies" (favArray)="setFavMovieList($event)" [flag]="flag"></app-movie-list>


<!-- for welcome message on home page  -->
<div class="jumbotron mt-3" *ngIf="hidden">
  <h3 class="display-4">Welcome Home!</h3>
  <p class="lead">Search your movie by entering movie in the search bar.</p>
  <hr class="my-4">
  <p>A great place to search your favourite movies.</p>
</div>

